*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
.company_name{
    text-align: center;
    height: 12vh;
    font-size: 7vh;
    color: #0a36c5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    float: left;
    background-color: rgba(252, 248, 248, 1);
}
.collapse{
    text-align: center;
}
.navbar{
    height: 12vh;
    font-size: 3vh;
    color: white;
    position: fixed;
    width: 100vw;
    z-index: 2;
    top: 10vh;
}
.navbar_links{
    color: white;
}
/*section3 */
.discover{
    text-align: center;
    font-size: 5vh;
    margin-top: 5%;
    margin-bottom: 3%;
}
.supercontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 1%;
    width: 70%;
    grid-gap: 1vw;
    display: border-box;
    margin-left: 8vw;
}
.card1{
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 70vh;
    width: 25vw;
}
.card2{
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 70vh;
    width: 25vw;
}
.card3{
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 70vh;
    width: 25vw;
}
.card1image1{
    width: 100%;
    height: 40vh;
    border-top-right-radius: 1em;
}
.card2image1{
    width: 100%;
    height: 40vh;
    border-top-right-radius: 1em;
}
.card3image1{
    width: 100%;
    height: 40vh;
    border-top-right-radius: 1em;
}
.want{
    font-size: 3vh;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 15%;
}
.did{
    margin: 10%;
    margin-top: 5%;
    font-size: 3vh;
}

.your{
    font-size: 3vh;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 10%;
}
.last{
    margin: 10%;
    margin-top: 5%;
    font-size: 3vh;
}
.how{
    font-size: 3vh;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 10%;
}
.from{
    margin: 10%;
    margin-top: 5%;
    font-size: 3vh;
}
.learn{
    margin-left: 10%;
    color: #0078ca;

}








.all_content{
    display: grid;
    grid-template-columns:  1fr;
    width: 100%;
    z-index: 1;
}



.main{
    width: 100%;  
    background: white;
    margin-top: 25vh;
    position: relative;
    left: vw;
    position: sticky;
    padding: 2vh;
}
.main2{
    width: 100%;  
    background: white;
    margin-top: 5vh;
    position: relative;
    left: w;
    position: sticky;
    padding: 2vh;
}
.main_top{
    display: flex;
    justify-content: space-between;
}
.available{
    margin-top: 1vh;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2vh;
}
#filter{
    width: 13vw;
    height: 5vh;
    border: 0;
    background: rgb(216, 214, 214);
}
.sort{
    background: rgb(216, 214, 214);
    color: black;
    padding: 1vh;
    border-radius: .2em;
}
.sort_text{
    font-size: 4vh;
}
select{
    font-size: 4vh;
}
.sort_list{
    width: 30vw;
}
.sort_list{
    background-color: white;
}

.photo_display{
    width: 25vw;
    height: 35vh;
    background: yellow;
}
.product_photo{
    width: 22vw;
    height: 30vh;
    padding-left: 1.5vw;
    padding-top: 3vh;
}
.price_tag{
    padding: 1vh;
    position: absolute;
    left: 20vw;
    margin-top: 1vh;
    width: 5vw;
    height: 5vh;
    font-size: 3vh;
    color: white;
    background-color: #0a36c5;
    border: 0;
    border-radius: .2em;
}




.view_btn{
    text-align: center;
    margin-right: 2vw;
}
.view_all{
    border: 0;
    margin: 0 auto;
    background-color: #0078ca;
    padding: 1vh;
    margin-top: 3vh;
    font-weight: bolder;
    color: white;
    border-radius: 0.2em;

}